# Number

In [ ]:
# basic numeric operations
14 - 26 * 10 / 2

-116.0

In [ ]:
20 / 10 / 1.5

1.3333333333333333

In [ ]:
# classic division returns a float
23/7 * 10

32.857142857142854

In [ ]:
10 * 29 / 3

96.66666666666667

In [ ]:
# floor division discards the fractional part
s = 23 / 7
s1 = 23 // 7

print(s)
print(s1)

3.2857142857142856
3

In [ ]:
# assigin value to variable for later use
a = 1299 / 22
print(a)
print(a*12)
print(a**12)

59.04545454545455
708.5454545454545
1.795715961701185e+21

In [ ]:
# use the variable a for further operations
b = a*9
print(b)
print(b * s)

531.4090909090909
1746.0584415584415

In [ ]:
a=2 ** 10

In [ ]:
b = b ** 3
print(b)

3.859956866545573e+73

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [ ]:
x = 123
y = 10
z = x/y - 10

print(z)
print(x-y)
print(x*10 - (y/z))
print((x ** y) / (y ** z))

2.3000000000000007
113
1225.6521739130435
3.9723829977591194e+18

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Pythonâ€™s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [ ]:
# importing the math module
import math

print(math.tau)
print(math.pi)
print(math.floor(10.36))
print(math.isfinite(a))
print(math.trunc(16.22))

6.283185307179586
3.141592653589793
10
True
16

In [ ]:
# using the method sqrt from math
print(math.sqrt(633))
print(math.sqrt(b))

25.15949125081825
6.212855113830978e+36

In [ ]:
math.factorial(54)

230843697339241380472092742683027581083278564571807941132288000000000000

In [ ]:
math.prod([1,65,21,4])

5460

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [ ]:
print(1+9)
print(b*4)
print(a1/b)
print(d/c)

10
1.5439827466182292e+74
1.450793413920104e-72
0.6500650065006501

<b>Exercise 2:</b> Import a module of your choice (other than math) and show some operations.<br>
You can find one from all python module list [Click here](https://docs.python.org/3/py-modindex.html).

In [ ]:
import array
import random

a = [2,1,3]

print(a.count(2))

a.append(5)

a.insert(0, 0)
print(a)

a.reverse()
print(a)

a.pop()
print(a)

a.sort()
print(a)

testArray = []

for i in range(10):
  testArray.append(random.randrange(50))

print(testArray)

index = random.choice(testArray)
print(index)
print(testArray.index(index))
random.shuffle(testArray)
print(testArray)

1
[0, 2, 1, 3, 5]
[5, 3, 1, 2, 0]
[5, 3, 1, 2]
[1, 2, 3, 5]
[17, 38, 49, 20, 40, 18, 3, 30, 28, 6]
38
1
[20, 49, 30, 6, 3, 17, 40, 18, 28, 38]

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [ ]:
a1 = 100.57

In [ ]:
# Checking the type of an object
print(type(a))
print(type(a1))
print(type(b))
print(type(testArray))
print(type(index))

<class 'list'>
<class 'float'>
<class 'float'>
<class 'list'>
<class 'int'>

In [ ]:
c = 54536
print(type(c))

<class 'int'>

In [ ]:
d = "testing double qoutations"
print(type(d))

<class 'str'>

In [ ]:
c = 99.99
print(type(c))

<class 'float'>

In [ ]:
a1 = 56
d = 9+a1
print(type(d))

<class 'int'>

# String

In [ ]:
# assign value to a variable. The value can be qouted using '' or ""
str1 = 'Phantom Liberty'

In [ ]:
# index
print(str1[6])
print(str1[-6])

m
i

In [ ]:
# negative index
str2 = 'Cyberpunk 2077'
print(str2[-5]) # this one outputs the blank space
print(str2[-8])

u

When to use ' ' or " " ?

string operations with * and +

In [ ]:
'Dogtown ' * 77

'Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown Dogtown '

In [ ]:
name1 ='Myers'
name1 * 8

'MyersMyersMyersMyersMyersMyersMyersMyers'

In [ ]:
name1 + ' ' + 'Reed'

'Myers Reed'

In [ ]:
name1 + ' Nomad'

'Myers Nomad'

In [ ]:
# slicing
name = 'Songbird Song So Mi'
print(name[0:8])
print(name[9:])
print(name[:4])
print(name[-5:])
print(name[9: :3])
print(name[-12: :-1])

Songbird
Song So Mi
Song
So Mi
Sgoi
dribgnoS

In [ ]:
name[-10:-3]

'Song So'

In [ ]:
#dir(name)

Some examples of string methods

In [ ]:
name2 = 'Johnny Silverhand'
check = 'a'
name2.count(check)

1

In [ ]:
print(name2.split()[-1])

Silverhand

In [ ]:
name1.islower()

False

In [ ]:
'Valarie'.islower()

False

In [ ]:
'HENSEN'.isupper()

True

In [ ]:
testString = 'We cannot have hope for a good life.\nThis is the wrong city, \n We met the wrong people'
testString.splitlines()

['We cannot have hope for a good life.',
 'This is the wrong city, ',
 ' We met the wrong people']

In [ ]:
testString.split(' ')

['We',
 'cannot',
 'have',
 'hope',
 'for',
 'a',
 'good',
 'life.\nThis',
 'is',
 'the',
 'wrong',
 'city,',
 '\n',
 'We',
 'met',
 'the',
 'wrong',
 'people']

In [ ]:
separator = ' >> '
testList = ['Phantom Liberty', 'Main story', 'Cyberpunk', '2077']
separator.join(testList)

'Phantom Liberty >> Main story >> Cyberpunk >> 2077'

In [ ]:
help(testList.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [ ]:
len(testList)

4

In [ ]:
len(testString)

86

In [ ]:
# check which functions you can use with variable 'name'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
dir(testString)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(name1.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [ ]:
name1.split()

['Myers']

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [ ]:
string1 = 'Rosalyn Myers'

string2 = string1 + ",NUSA"
print(string2.index('R'))

print(string2)
print(string2.split(','))
print(string2.count('M'))
print(string2.isdecimal())
print(string2.upper())

0
Rosalyn Myers,NUSA
['Rosalyn Myers', 'NUSA']
1
False
ROSALYN MYERS,NUSA

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [ ]:
randomThings = [1, 4.6, ['Cyberpunk', 2077], 16, 'rono']
randomThings

[1, 4.6, ['Cyberpunk', 2077], 16, 'rono']

In [ ]:
data = [23, 'Player', ['Reyfield', 135000] ,6.66, 'West Town']
data.insert(0,'Rogue')
print(data)

['Rogue', 23, 'Player', ['Reyfield', 135000], 6.66, 'West Town']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
data[3][0]

'Reyfield'

In [ ]:
data[-2]

6.66

In [ ]:
data[0:2]

['Rogue', 23]

In [ ]:
data[3]

['Reyfield', 135000]

In [ ]:
data[3][1]

135000

In [ ]:
len(data)

6

In [ ]:
data

['Rogue', 23, 'Player', ['Reyfield', 135000], 6.66, 'West Town']

Some list methods

In [ ]:
data.append("Alex")
print(data)

['Rogue', 23, 'Player', ['Reyfield', 135000], 6.66, 'West Town', 'Alex']

In [ ]:
data.insert(4,['Amazon', 1221])
print(data)

['Rogue', 23, 'Player', ['Reyfield', 135000], ['Amazon', 1221], 6.66, 'West Town', 'Alex']

In [ ]:
data.remove('Alex')
print(data)

['Rogue', 23, 'Player', ['Reyfield', 135000], ['Amazon', 1221], 6.66, 'West Town']

In [ ]:
data.pop()
print(data)

['Rogue', 23, 'Player', ['Reyfield', 135000], ['Amazon', 1221], 6.66]

In [ ]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#help(data.insert)

Lists also support operations like concatenation

In [ ]:
randomThings + data

[1,
 4.6,
 ['Cyberpunk', 2077],
 16,
 'rono',
 'Rogue',
 23,
 'Player',
 ['Reyfield', 135000],
 ['Amazon', 1221],
 6.66]

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (â€œlast-in, first-outâ€). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [ ]:
# for stack we need LIFO structure

stack = []

stack.append(101) #inserts at the last
stack.append(102)
stack.append(103)
stack.append(104)

print(stack)

stack.pop() #deletes the last element
print(stack)

stack.append(105)
print(stack)

[101, 102, 103, 104]
[101, 102, 103]
[101, 102, 103, 105]

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (â€œfirst-in, first-outâ€)</p>

In [ ]:
# Queue uses FIFO
queue = []

queue.append("Melissa") #inserting at the end
queue.append("Anderson")
queue.append("Cloudia")
queue.append("Solomon")

print(queue)

# a queue removes items from the front
queue.pop(0)

print(queue)

queue.append("Hensen")
print(queue)

['Melissa', 'Anderson', 'Cloudia', 'Solomon']
['Anderson', 'Cloudia', 'Solomon']
['Anderson', 'Cloudia', 'Solomon', 'Hensen']

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as â€œassociative memoriesâ€ or â€œassociative arraysâ€. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [ ]:
testDic = {'itemNo': 1, 'itemName': 'Bluray DVD'}

print(testDic)

{'itemNo': 1, 'itemName': 'Bluray DVD'}

In [ ]:
list(testDic.keys())[1]

'itemName'

In [ ]:
list(testDic.keys())[0]

'itemNo'

In [ ]:
list(testDic.values())[1]

'Bluray DVD'

In [ ]:
testDic['itemPrice'] = 4000.00
testDic

{'itemNo': 1, 'itemName': 'Bluray DVD', 'itemPrice': 4000.0}

In [ ]:
individual = {'Age':23,'Name':['Rafin','Abrar', 'Rono'], 'Category': 'Sophomore'}
individual

{'Age': 23, 'Name': ['Rafin', 'Abrar', 'Rono'], 'Category': 'Sophomore'}

In [ ]:
print(individual['Name'])
print(individual['Name'][1])

['Rafin', 'Abrar', 'Rono']
Abrar

In [ ]:
len(individual)

3

In [ ]:
individual.keys()

dict_keys(['Age', 'Name', 'Category'])

In [ ]:
#person.has_key('Name')
'Name' in individual.keys()

True

In [ ]:
'Rating' in individual.keys()

False

In [ ]:
'Abrar' in individual['Name']

True

In [ ]:
dir(individual)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [ ]:
person = {'Age':26,'Name':['Rafin','Abrar', 'Rono'], 'Category': 'Sophomore', 'Birth Year': 1998}

academicDetails = {'SSC year': 2018, 'HSC Year': 2020}

person1 = {'Age':23,'Name':['Tauhid','Mashrur',], 'Category': 'Sophomore', 'Birth Year': 2001, 'Details': academicDetails}

print(person['Birth Year'])
print(person1['Birth Year'])
print(person1['Name'][1])
print(person1['Details']['SSC year']) #accessing a nested dictionary value

print(type(person))

1998
2001
Mashrur
2018
<class 'dict'>

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
t = (1, 2)

print(t[0])
print(t[1])

u = ("testing", 'a touple')

v = t, u

print(v[0])
print(v[0][1])
print(v[1][1])

print(type(v))

1
2
(1, 2)
2
a touple
<class 'tuple'>