# User Input

In [ ]:
test = 2132
print(test)

2132

In [ ]:
testingInput = input()
print(testingInput)

testing
testing

In [ ]:
testingInputType = input('Enter any sort of value: ') # always returns string
print('The entered value is '+ testingInputType)
print('The entered value is of type'+ str(type(testingInputType)))

Enter any sort of value: let us test
The entered value is let us test
The entered value is of type<class 'str'>

In [ ]:
testingIntegerInput = int(input('Enter any ineteger number (Floating points will cause errors): ')) # returns string but converted to int
print('The sum of enetered number and 101 is', testingIntegerInput+101)
print(type(testingIntegerInput))

Enter any ineteger number (Floating points will cause errors): 1
The sum of enetered number and 101 is 102
<class 'int'>

In [ ]:
testingFloatInput = float(input('Enter any number (Floating points will work too): ')) # returns string but converted to ifloat
print('The sum of enetered number and 101.574 is', testingFloatInput+101)
print(type(testingFloatInput))

Enter any number (Floating points will work too): 43.33
The sum of enetered number and 101.574 is 144.32999999999998
<class 'float'>

In [ ]:
while True:
  inputAge = input('Enter your Birth Year (in numerics, not spelled):')

  if inputAge.isdigit():
    age = str(2024-int(inputAge))
    print('You are now ' + age + ' years old')
    print(age)
    break
  print('ENTER A VALID NUMERIC YEAR.')

Enter your Birth Year (in numerics, not spelled):r
ENTER A VALID NUMERIC YEAR.
Enter your Birth Year (in numerics, not spelled):a
ENTER A VALID NUMERIC YEAR.
Enter your Birth Year (in numerics, not spelled):2001
You are now 23 years old
23

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 1
if i < 10: # () not required, {} not required
  print('less than 10, okay')
  print('testing fine')
else:
  print('more than 10')
print('ending line') # will be executed in each run

less than 10, okay
testing fine
ending line

In [ ]:
inputIntegerString = input("Enter an integer number: ")

if inputIntegerString.isdigit():
  inputInteger = int(inputIntegerString)
  if inputInteger < 0:
      inputInteger = 0
      print('Negative entered value, changed to zero')
  elif inputInteger == 0:
      print('You entered zero')
  elif inputInteger == 1:
      print('you entered 1')
  else:
    print('Your entered number is ' + str(inputInteger) + ' which is more than 1')

print('Entered value is not a numeric value')

Enter an integer number: 6
Your entered number is 6 which is more than 1
Entered value is not a numeric value

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [ ]:
inputMarks = input()

if inputMarks.isdigit():
  marks = int(inputMarks)

  if(marks < 100 and marks >0):

    if marks < 50:
      print('Obtained grade: F')
    elif marks < 60:
      print('Obtained grade: D')
    elif marks < 65:
      print('Obtained grade: D+')
    elif marks < 70:
      print('Obtained grade: C')
    elif marks < 75:
      print('Obtained grade: C+')
    elif marks < 80:
      print('Obtained grade: B')
    elif marks < 85:
      print('Obtained grade: B+')
    elif marks < 90:
      print('Obtained grade: A')
    else:
      print('Obtained grade: A+')

  else:
    print('Entered an invaid number')

else:
  print('Entered a non numeric value')

95
Obtained grade: A+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
randomWords = ['Westbrook', 'Dogtown', 'Heywood','Pacifica']

print('the random division names from Night city:')

for words in randomWords:
    print(words)

the random division names from Night city:
Westbrook
Dogtown
Heywood
Pacifica

In [ ]:
print('the division names are:')

for i in range(len(randomWords)):
    print(randomWords[i])

the division names are:
Westbrook
Dogtown
Heywood
Pacifica

In [ ]:
randomList = list(range(-1,25))
print(randomList)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [ ]:
for numbers in randomList:
    print(numbers+1042)

1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066

In [ ]:
shortList = list(range(32))
print(shortList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for j in range(10,30,3):
    print(j)

10
13
16
19
22
25
28

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(50, 55))

[50, 51, 52, 53, 54]

In [ ]:
list(range(1, 100, 7))

[1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 99]

In [ ]:
list(range(100, -10, -7))

[100, 93, 86, 79, 72, 65, 58, 51, 44, 37, 30, 23, 16, 9, 2, -5]

In [ ]:
list(range(-75, -243, -23))

[-75, -98, -121, -144, -167, -190, -213, -236]

In [ ]:
testNumbers = list((range(15, 75, 3)))
for k in range(len(testNumbers)):
    print(k, testNumbers[k])

0 15
1 18
2 21
3 24
4 27
5 30
6 33
7 36
8 39
9 42
10 45
11 48
12 51
13 54
14 57
15 60
16 63
17 66
18 69
19 72

In [ ]:
for j in range(47,213,7):
    print(j,end='..')

47..54..61..68..75..82..89..96..103..110..117..124..131..138..145..152..159..166..173..180..187..194..201..208..

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [ ]:
evenNumbersFor = []

for i in range(101):
  if i%2 == 0:
    evenNumbersFor.append(i)

print('Even numbers generated using for loop:' )
print(evenNumbersFor)

evenNumbersRange = list((range(0,101,2)))

print('\nEven numbers generated using range function:' )
print(evenNumbersRange)

Even numbers generated using for loop:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Even numbers generated using range function:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
favouriteVideoGame = "Cyberpunk 2077"
for chars in favouriteVideoGame:
    print(chars,end='.')

print('\n')

for chars in favouriteVideoGame:
    print(chars,end=' ')

C.y.b.e.r.p.u.n.k. .2.0.7.7.

C y b e r p u n k   2 0 7 7

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
def calculate(x, y):
  print(str(x) + ' + ' + str(y) + ' = ' + str(x+y))
  print(str(x) + ' - ' + str(y) + ' = ' + str(x-y))
  print(str(x) + ' x ' + str(y) + ' = ' + str(x*y))
  print(str(x) + ' / ' + str(y) + ' = ' + str(x/y))

In [ ]:
calculate(321,96)

321 + 96 = 417
321 - 96 = 225
321 x 96 = 30816
321 / 96 = 3.34375

In [ ]:
calculate(55,79)

55 + 79 = 134
55 - 79 = -24
55 x 79 = 4345
55 / 79 = 0.6962025316455697

In [ ]:
def fibbo(num):    # write Fibonacci series up to n
    fibboList = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < num:
          fibboList.append(b)
        elif num == 0:
          return []
        else:
          break
        #print()
    return fibboList

In [ ]:
# Now call the function we just defined:
fibboSeries = fibbo(0)
print(fibboSeries)

[0]

In [ ]:
# define method
def addition(num1, num2): # add numbers and return result
    # logic
    result = num1 + num2
    return result

In [ ]:
addition([2],[33])

[2, 33]

In [ ]:
addition(27,34) #works with lists and seperated numbers too

61

In [ ]:
gameName = addition('Cyberpunk ', '2077') # use or call method
print(gameName)

Cyberpunk 2077

In [ ]:
addition([121,377], [6326, 564])

[121, 377, 6326, 564]

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + int(n)
    return sum

In [ ]:
okay = addition([323,43], [65,545,343,2232,54])
addValues(okay)

3605

In [ ]:
exampleList = addition([132, 545], [1321, 6554])

print(addValues(exampleList + [1007, 455]))
print(addValues(exampleList + [466, 54757466, 5454]))

10014
54771938

In [ ]:
addValues([])

0

In [ ]:
random = [55, 334,1342, 73]
addValues(random)

1804

In [ ]:
addValues(addition([4343,594945], [43,-882676]))

-283345

In [ ]:
anotherRandom = [885, 434,152, 547, 55, 74,172, 77, 565, 74,125, 757]
addValues(anotherRandom)

3917

In [ ]:
# method/function
def multiTable(num, rows=10):
    for i in range(1,rows+1):
        print("{} x {} = {}".format(num,i,num*i))

In [ ]:
multiTable(12, 15)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180

In [ ]:
multiTable(13, 20)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
13 x 20 = 260

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
def addLists(num1, num2): #only works for lists
  small = num2
  big = num1

  if len(num1) < len(num2):
    small = num1
    big = num2

  for i in range(len(small)):
    big[i] += small[i]

  return big

In [ ]:
addLists([122,122, 1663, 4636,4343, 333], [222,222, 2663, 657, 65775, 6565, 65655])

[344, 344, 4326, 5293, 70118, 6898, 65655]

In [ ]:
addLists([1,2,3,4,5,6,7,8,9], [10, 20, -30])

[11, 22, -27, 4, 5, 6, 7, 8, 9]

In [ ]:
addLists([100,200,300], [-20, -30, -60, -80, -120, -160])

[80, 170, 240, -80, -120, -160]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
def GetFirstLastName(name):
  splitName = name.split(' ')
  print("First name: {}, Last name: {}".format(splitName[0], splitName[len(splitName)-1]))

In [ ]:
fullName = input()

GetFirstLastName(fullName)

Rafin Abrar Rono
First name: Rafin, Last name: Rono

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
print(f'testing formatting with floats, {3.1:0.4f}')
print(f'testing formatting with decimals, {102:4d}')
print(f'testing formatting with strings, {979!s}')

g1 = 'Breakthrough'
g2 = 2077
g3 = 'Dying Night'

print(f'Favourite guns {g1=} {g2=} {g3=}')

print("Testing {}, {}".format(123, 456))
print("Testing {1}, {0}".format('First', 'Second'))
print('Testing {0}, {1}, and {three}.'.format('Sunday', 'Monday', three='Tuesday'))
print("okay".center(20))
print('The value of pi is approximately %5.10f.' % 3.14163434343)

testing formatting with floats, 3.1000
testing formatting with decimals,  102
testing formatting with strings, 979
Favourite guns g1='Breakthrough' g2=2077 g3='Dying Night'
Testing 123, 456
Testing Second, First
Testing Sunday, Monday, and Tuesday.
        okay
The value of pi is approximately 3.142.